.top-bar-div .logo-div .title-text {
    font-size: 30px;
}

.top-bar-div .tb-author {
    font-size: 14px;
}

.top-bar-div .social-pf-div a {
    font-size: 18px;
}

.top-bar-div .top-bar-page-info {
    margin: auto;
    padding: 20px;
    width: 100%;
}

.top-bar-div .deducted-page-info {
    margin: auto;
}

.deducted-page-info .info-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.deducted-page-info .info-div > * {
    margin: auto;
    color: rgb(50, 50, 50);
}

.deducted-page-info .info-div .title-text {
    font-size: 50px;
    text-align: center;
    font-family: GoogleSansB;
    margin-bottom: 20px;
}

.deducted-page-info .info-div .description {
    font-family: GoogleSans;
    line-height: 30px;
    margin-bottom: 10px;
}

.deducted-page-info .info-div .info-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.deducted-page-info .info-div .info-1 span {
    padding: 2px 8px;
    margin-left: 5px;
    font-size: 16px;
}

.deducted-page-info .info-div .info-1 a {
    text-decoration: none;
    color: rgb(50, 50, 80);
}

.deducted-page-info .info-div .info-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
}

.deducted-page-info .info-div .info-2 span {
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 14px;
    margin-left: 5px;
    box-shadow: 0 0 4px rgba(50, 50, 80, 0.2);
    border-bottom: 3px solid rgb(50, 50, 80);
}

.deducted-page-info .info-div .info-2 i {
    transform: translate(0, 5px);
}

.deducted-page-info .info-div i {
    margin-right: 5px;
}

.deducted-page .deduction-content {
    font-family: GoogleSans;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 18px;
}