<table>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Manifest URL</td>
        <td>Files</td>
        <td>Status</td>
    </tr>
    {% for manifest in all_manifest %}
        <tr>
            <td>{{ manifest.id }}</td>
            <td>{{ manifest.title }}</td>
            <td> <a href="{{ manifest.manifest_url }}">{{ manifest.manifest_url }}</a> </td>
            <td>
                <div>
                    <div><b>Templates:</b></div>
                    {% if manifest.templates %}
                        {% for template in manifest.templates %}
                            <div>{{ template }}</div>
                        {% endfor %}
                    {% else %}
                        <div>None</div>
                    {% endif %}
                </div>
                <div>
                    <div><b>Static:</b></div>
                    {% if manifest.static %}
                        {% for static in manifest.static %}
                            <div>{{ static }}</div>
                        {% endfor %}
                    {% else %}
                        <div>None</div>
                    {% endif %}
                </div>
                <div>
                    <div><b>Scripts:</b></div>
                    {% if manifest.scripts %} 
                        {% for script in manifest.scripts %}
                            <div>{{ script }}</div>
                        {% endfor %}
                    {% else %}
                        <div>None</div>
                    {% endif %}
                </div>
                <div>
                    <div><b>Extras:</b></div>
                    {% if manifest.extra %}
                        {% for extra in manifest.extra %}
                            <div>{{ extra }}</div>
                        {% endfor %}
                    {% else %}
                        <div>None</div>
                    {% endif %}
                </div>
            </td>
            <td id="{{ manifest.id }}">Wait...</td>
        </tr>
    {% endfor %}
</table>

<div id="logs"></div>