{% load static %}
{% load tags_filters %}

<a class="fresh-deduction" href="/deducted/{{fresh.title}}-{{fresh.id}}">
    <div class="header">
        <span>Fresh</span>
        <span class="uploaded">{{ fresh.date_uploaded|date }}</span>
    </div>
    <div class="title">
        <div class="bg"></div>
        <div class="title-text">
            {{ fresh.title }}
        </div>
        <div class="bg"></div>
    </div>
    <div class="info-1">
        <span class="Author"> <i class="fas fa-pencil-alt"></i>{{ fresh.author }}</span>
        <span class="uploaded"> <i class="fas fa-calendar-plus"></i>{{ fresh.date_uploaded|date }}</span>
        <span class="uploaded"> <i class="fas fa-calendar-check"></i>{{ fresh.date_last_modified|date }}</span>
    </div>
    <div class="short-description">
            {{ fresh.description }}
    </div>
    <div class="info-2">
        <span class="tags-div">
            <i class="fas fa-tags"></i>
            
            {% with tags=fresh.tags|split:" " %}
                {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            {% endwith %}

        </span>
    </div>
</a>