{% extends 'base/index.html' %}
{% load static %}
{% load tags_filters %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/deducted.css' %}">
{% endblock %}

{% block main-body %}

<div class="deductions-div">

{% for deduction in deductions %}
<a class="deduction" href="/deducted/{{deduction.title}}-{{deduction.id}}">
    <div class="title">
        <div class="bg"></div>
        <div class="title-text">
            {{ deduction.title }}
        </div>
        <div class="bg"></div>
    </div>
    <div class="info-1">
        <span class="Author"> <i class="fas fa-pencil-alt"></i>{{ deduction.author }}</span>
        <span class="uploaded"> <i class="fas fa-calendar-plus"></i>{{ deduction.date_uploaded|date }}</span>
        <span class="uploaded"> <i class="fas fa-calendar-check"></i>{{ deduction.date_last_modified|date }}</span>
    </div>
    <div class="short-description">
            {{ deduction.description }}
    </div>
    <div class="info-2">
        <span class="tags-div">
            <i class="fas fa-tags"></i>
            
            {% with tags=deduction.tags|split:" " %}
                {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            {% endwith %}
            
        </span>
    </div>
</a>
{% endfor %}

</div>

{% endblock %}