{% extends 'base/index.html' %}
{% load static %}
{% load tags_filters %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css.css' %}">
{% endblock %}

{% block main-body %}
<div class="home-post-list">

    {% for post in posts %}
        <a class="home-post-wrapper" href="/post/{{post.title}}-{{post.id}}">
            <div class="post-title">
                {{ post.title }}
            </div>
            <div class="post-info">
                <span title="Author">
                    <i class="fas fa-pencil-alt"></i>
                    <span>{{ post.author }}</span>
                </span>
                <span title="Date Uploaded">
                    <i class="fas fa-calendar-plus"></i>
                    <span>{{ post.date_uploaded|date }}</span>
                </span>
                <span title="Date Last Modified">
                    <i class="fas fa-calendar-check"></i>
                    <span>{{ post.date_last_modified|date }}</span>
                </span>
            </div>
            <div class="post-description">
                {{ post.description }}
            </div>
            <div class="post-tags">
                {% with tags=post.tags|split:" " %}
                    {% for tag in tags %}
                        <span>
                            <i class="fas fa-tags"></i>
                            {{ tag }}
                        </span>
                    {% endfor %}
                {% endwith %}
            </div>
        </a>
    {% endfor %}

</div>
{% endblock %}