.deducted-page {
    max-width: 1200px;
    margin: auto;
}

.deduction-content {
    padding: 0 20px;
    padding-bottom: 30px;
}

.step-div {
    box-shadow: 0 0 2px rgba(20, 60, 50, 0.2);
    border-radius: 5px;
    margin-top: 40px;
    background: white;
    font-family: GoogleSans;
}

.step-title-div {
    cursor: pointer;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(50, 50, 80, 0.1);
}

.step-title {
    flex: 1;
}

.step-title-text {
    padding: 10px 20px;
}

.title-info-button-div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(50, 50, 80, 0.1);
}

.title-info-button {
    border: 1px solid rgb(50, 50, 80);
    color: rgb(50, 50, 80);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-title-text {
    font-size: 25px;
}

.step-description-div {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    line-height: 40px;
}

.step-description {
    padding: 20px;
}

.short-info {
    background: rgba(0, 150, 150, 0.2);
    color: rgb(0, 50, 50);
    border: 1px solid rgba(0, 150, 150, 0.3);
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.code-description-div {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    line-height: 40px;
}

.code-description {
    padding: 20px;
}

.code-info-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 1px rgba(50, 50, 80, 0.1);
    border: 1px solid rgba(50, 50, 80, 0.1);
    border-radius: 3px;
    margin-top: 20px;
}

.code-info-div:first-child {
    margin-top: 0;
}

.code-info-div > .code-div {
    display: flex;
    width: calc(100% + 2px);
    transform: translate(-1px, 0);
}

.code-info-div > .code-div > pre {
    flex: 1;
}

.code-info-div > .code-div > .code-info-button-div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d2d2d;
    background: rgb(50, 50, 80);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.code-info-div > .code-div > .code-info-button-div > .code-info-button {
    border: 1px solid rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.code-info-div >.code-div > pre[class*="language"] {
    margin: 0;
    background: rgb(50, 50, 80);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: copy;
    padding: 10px 20px;
}

a {
    color: rgb(0, 130, 150);
}

pre[class*="code-block-div"] {
    border-radius: 3px;
    background: rgb(50, 50, 80);
    box-shadow: 0 0 16px rgba(50, 50, 80, 0.3);
}

pre[class*="language"] .tag {
    border: none;
}
