.fixed-top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: GoogleSans;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    width: 100%;
    z-index: 10;
    display: none;

}

.fixed-top-bar > * {
    padding: 10px;
}

.fixed-top-bar .logo {
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    color: black;
}

.fixed-top-bar .logo a {
    text-decoration: none;
    color: inherit;
}

.fixed-top-bar .title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    color: black;
}

.top-bar-div {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar-div div {
    margin: auto;
}

.top-bar-div .top-bar-info {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top-bar-div .logo-div {
    margin: auto;
    text-decoration: none;
}

.top-bar-div .logo-div .title-text {
    margin: auto;
    font-family: GoogleSansB;
    font-weight: bold;
    font-size: 150px;
    color: rgb(50, 50, 50);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.top-bar-div .tb-author {
    margin: auto;
    color: rgb(50, 50, 50);
    font-family: GoogleSans;
    font-size: 30px;
}

.top-bar-div .social-pf-div {
    margin: auto;
    display: flex;
}

.top-bar-div .social-pf-div a {
    margin: 10px;
    font-size: 25px;
    color: rgb(50, 50, 50);
}

.top-bar-div .social-pf-div a:hover {
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 1100px) {
    .top-bar-div .logo-div .title-text {
        font-size: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .top-bar-div .logo-div .title-text {
        font-size: 80px;
    }
}

@media only screen and (max-width: 600px) {
    .top-bar-div .logo-div .title-text {
        font-size: 50px;
    }
    
    .top-bar-div .tb-author {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .top-bar-div .logo-div .title-text {
        font-size: 30px;
    }
    
    .top-bar-div .tb-author {
        font-size: 15px;
    }

    .top-bar-div .social-pf-div a {
        font-size: 15px;
        margin: 5px 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes bounceInLeft {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
		transform: translate3d(-3000px, 0, 0) scaleX(3)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0) scaleX(1);
		transform: translate3d(25px, 0, 0) scaleX(1)
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0) scaleX(.98);
		transform: translate3d(-10px, 0, 0) scaleX(.98)
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0) scaleX(.995);
		transform: translate3d(5px, 0, 0) scaleX(.995)
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.bounceInLeft {
    animation: bounceInLeft 1s ease-in-out;
}

@keyframes bounceInRight {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
		transform: translate3d(3000px, 0, 0) scaleX(3)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
		transform: translate3d(-25px, 0, 0) scaleX(1)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0) scaleX(.98);
		transform: translate3d(10px, 0, 0) scaleX(.98)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0) scaleX(.995);
		transform: translate3d(-5px, 0, 0) scaleX(.995)
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.bounceInRight {
    animation: bounceInRight 1s ease-in-out;
}

@keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0) scaleX(.9);
		transform: translate3d(20px, 0, 0) scaleX(.9)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
		transform: translate3d(-2000px, 0, 0) scaleX(2)
	}
}

.bounceOutLeft {
    animation: bounceOutLeft 1s ease-in-out;
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0) scaleX(.9);
		transform: translate3d(-20px, 0, 0) scaleX(.9)
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
		transform: translate3d(2000px, 0, 0) scaleX(2)
	}
}

.bounceOutRight {
    animation: bounceOutRight 1s ease-in-out;
}