{% extends 'base/index.html' %}
{% load static %}
{% load tags_filters %}

{% block head_title %}
    <title>{{ deduction.title }} | Deduction | Blog by Ankit Kumar Verma</title>
{% endblock %}

{% block head_description %}
    <meta name="description" content="{{ deduction.description }}">
{% endblock %}

{% block head_keywords %}
    <meta name="keywords" content="Deduction, Blog, {{ deduction.tags }}, Tech Blog, Technology, CSE, Computer, PC, Programming, Coding, Developing, C, C++, Python">
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'deducted/typora.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'deducted/css.css' %}">
<script src="{% static 'deducted/js.js' %}"></script>

{% endblock %}

{% block top-bar-page-title %}
    {{ deduction.title }}
{% endblock %}

{% block top-bar-page-info %}

<div class="deducted-page-info">
    <div class="info-div">
        <div class="title">
            <div class="title-text">
                {{ deduction.title }}
            </div>
        </div>
        <div class="info-1">
            <span> <i class="fas fa-pencil-alt"></i> <a href="{{ deduction.author_profile_link }}">{{ deduction.author }}</a> </span>
            <span> <i class="fas fa-calendar-plus"></i> {{ deduction.date_uploaded|date }}</span>
            <span> <i class="fas fa-calendar-check"></i> {{ deduction.date_last_modified|date }}</span>
        </div>
        <div class="description">
            {{ deduction.description }}
        </div>
        <div class="info-2">
            <i class="fas fa-tags"></i>
        
            {% with tags=deduction.tags|split:" " %}
                {% for tag in tags %}
                    <span>{{ tag }}</span>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}

{% block main-body %}
<div class="deducted-page">


        <div class="deduction-content">
                {{ html|safe }}
        </div>

</div>


{% endblock %}