<div class="step-div">

    <div class="step-title-div">
        <div class="step-title">
            <div class="step-title-text">
                Create App
            </div>
        </div>
        <div class="title-info-button-div">
            <div class="title-info-button">
                i
            </div>
        </div>
    </div>

    <div class="step-description-div">
        <div class="step-description">

            <!-- -----------------------------------------CODE------------------------------------ -->

            <div class="code-info-div">

                <div class="code-div">
                    <pre class="language-python bright">
                        <code>
                            python manage.py startapp [app_name]
                        </code>
                    </pre>
                    <div class="code-info-button-div">
                        <div class="code-info-button">
                            i
                        </div>
                    </div>
                </div>

                <div class="code-description-div">
                    <div class="code-description">

                        <div class="short-info">
                            This command will create an App named <b>[app_name]</b> with all configuration files, that is neccessary for rendering a web page.
                        </div>
                        
                        <div>
                            Till now we have just setup our Django environment and only can see "Congratulations" page by Django. To show our custom pages
                            first we have to create an App. For sake of understanding, you can consider an <b>App</b> as a single page of a website or a single
                            service provided by website. But yes you can create all pages and services of a website from one app, but separating all these things
                            into different Apps make your project more convenient. You can create as many app as you want.
                        </div>
                        
                        <div>
                            You can create an app by running above command that will automatically create a folder containing some configuration files, this folder will look like this:

                            <pre class="language-python code-block-div">
                                <code>
                                    |- [app_name]/
                                        |- admin.py
                                        |- apps.py
                                        |- models.py
                                        |- tests.py
                                        |- views.py
                                </code>
                            </pre>
                        
                            <div class="short-info" style="margin-top: 20px;">
                                <b>views.py</b> is the file that is responsible for rendering your custom page or view. How to do that read the section <b>Show Custom View</b>
                            </div>
                        </div>

                        <div class="step-div example">
                        
                            <div class="step-title-div">
                                <div class="step-title">
                                    <div class="step-title-text">
                                        Example
                                    </div>
                                </div>
                                <div class="title-info-button-div">
                                    <div class="title-info-button">
                                        i
                                    </div>
                                </div>
                            </div>
                        
                            <div class="step-description-div">
                                <div class="step-description">
                                    <div class="short-info">
                                        #till_now:<br>
                                        Project Name: MyProject
                                    </div>
                                    Let we want to create an app <b>Home</b>, so run the following command: 
                                    <b>python manage.py startapp Home</b> It will create a directory <b>Home</b> which will look like this:
                                    <pre class="language-python code-block-div">
                                        <code>
                                            |- Home/
                                                |- admin.py
                                                |- apps.py
                                                |- models.py
                                                |- tests.py
                                                |- views.py
                                        </code>
                                    </pre>
                                </div>
                            </div>
                        
                        </div>

                        <div class="step-div">
                        
                            <div class="step-title-div">
                                <div class="step-title">
                                    <div class="step-title-text">
                                        Register Your App
                                    </div>
                                </div>
                                <div class="title-info-button-div">
                                    <div class="title-info-button">
                                        i
                                    </div>
                                </div>
                            </div>
                        
                            <div class="step-description-div">
                                <div class="step-description">
                                    <!-- --------------------------------------DESCRIPTION-------------------- -->
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>

            </div>

            <!-- ------------------------------------------------CODE-INFO------------------- -->

        </div>
    </div>

</div>