<div class="step-div">

    <div class="step-title-div">
        <div class="step-title">
            <div class="step-title-text">
                <!-- -------------------------TITLE------------------------------ -->
            </div>
        </div>
        <div class="title-info-button-div">
            <div class="title-info-button">
                i
            </div>
        </div>
    </div>

    <div class="step-description-div">
        <div class="step-description">

            <!-- -----------------------------------------CODE------------------------------------ -->

            <div class="code-info-div">

                <div class="code-div">
                    <pre class="language-python bright">
                        <code>
                            <!-- ------------------------------------CODE-------------------------------- -->
                        </code>
                    </pre>
                    <div class="code-info-button-div">
                        <div class="code-info-button">
                            i
                        </div>
                    </div>
                </div>

                <div class="code-description-div">
                    <div class="code-description">
                        <!-- ----------------------------------CODE-DESCRIPTION------------------- -->
                    </div>
                </div>

            </div>

            <!-- ------------------------------------------------CODE-INFO------------------- -->

        </div>
    </div>

</div>

<div class="step-div">

    <div class="step-title-div">
        <div class="step-title">
            <div class="step-title-text">
                <!-- -------------------------TITLE------------------------------ -->
            </div>
        </div>
        <div class="title-info-button-div">
            <div class="title-info-button">
                i
            </div>
        </div>
    </div>

    <div class="step-description-div">
        <div class="step-description">
            <!-- --------------------------------------DESCRIPTION-------------------- -->
        </div>
    </div>

</div>