<div class="step-div">
    <div class="step-title-div">
        <div class="step-title">
            <div class="step-title-text">
                Install Django
            </div>
        </div>
        <div class="title-info-button-div">
            <div class="title-info-button">
                i
            </div>
        </div>
    </div>
    <div class="step-description-div">
        <div class="step-description">

            <div class="code-info-div">
                <div class="code-div">
                    <pre class="language-python bright">
                        <code>python --version || python3 --version</code>
                    </pre>
                    <div class="code-info-button-div">
                        <div class="code-info-button">
                            i
                        </div>
                    </div>
                </div>
                <div class="code-description-div">
                    <div class="code-description">
                        <div class="short-info">This command is to check the current version of Python installed on your system.</div>
                        
                        <b>Why:</b> Being a <b>Python Web Framework</b>, Django requires Python.
                        By running above command, you can verify that Python is installed on your system. and you should see something like:
                        <pre class="language-python code-block-div">
                            <code>
                                python 3.x.y
                            </code>
                        </pre>
                        
                        Getting error? i.e. Python is not installed on your system. Don't worry, Get the latest version of Python
                        from its official site <a href="https://www.python.org/downloads/">https://www.python.org/downloads/</a> or your operating system package manager.
                    </div>
                </div>
            </div>

            <div class="code-info-div">
                <div class="code-div">
                    <pre class="language-python bright">
                        <code>pip install django</code>
                    </pre>
                    <div class="code-info-button-div">
                        <div class="code-info-button">
                            i
                        </div>
                    </div>
                </div>
                <div class="code-description-div">
                    <div class="code-description">
                        <div class="short-info">This command will install Django on your system, if not installed.</div>
                        
                        To verfiy that Django is installed on your system run <i>Python Prompt</i> by running <b>python</b>
                        in your shell and then at the Python Prompt try to import Django:
                        <pre class="language-python code-block-div">
                            <code>
                                $ python
                                Python 3.7.6 (default, Jan  8 2020, 19:59:22) 
                                [GCC 7.3.0] on linux
                                Type "help", "copyright", "credits" or "license" for more information.
                                >>> import django
                                >>> print(django.get_version())
                                3.0.5
                                >>> 
                            </code>
                        </pre>
                        
                        You may have another version of Django installed
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>