.header-post-details-wrapper {
    width: 100%;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: var(--theme-box-shadow);
    color: rgb(80, 80, 80);
    margin-top: 30px;
    text-align: center;
}

.header-post-details-wrapper .post-title {
    font-family: MerriWeatherBB;
    font-size: 25px;
    margin-bottom: 30px;
}

.header-post-details-wrapper .post-title:first-letter {
    font-size: 40px;
}

.header-post-details-wrapper .post-info {
    margin-bottom: 30px;
    font-size: 15px;
}

.header-post-details-wrapper .post-info span {
    color: rgb(100, 100, 100);
}

.header-post-details-wrapper .post-info i {
    margin: 0 5px;
}

.header-post-details-wrapper .post-description:first-letter {
    font-size: 25px;
}

.header-post-details-wrapper .post-tags {
    margin-top: 40px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.header-post-details-wrapper .post-tags i {
    margin-right: 5px;
}

.header-post-details-wrapper .post-tags span {
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
}

.header-post-details-wrapper .post-tags span:first-child {
    margin-left: 0;
}

.main-body-wrapper {
    padding: 10px;
}

.post-content {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: var(--theme-box-shadow);
    color: rgb(80, 80, 80);
}

.post-content:first-letter {
    font-size: 25px;
}

@media only screen and (max-width: 700px) {
    .main-body-wrapper {
        padding: 0;
    }

    .post-content {
        box-shadow: none;
    }
}