.top-bar-div {
    background: white;
}

.top-bar-div .title-text {
    color: rgb(10, 10, 10);
}

.top-bar-div img {
    filter: contrast(100) brightness(100);
}

.main-body {
    padding: 10px;
    display: flex;
    width: 100%;
}

.deductions-div {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding-bottom: 80px;
}