.deductions-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.deductions-div > a {
    margin: 40px;
    flex: 33.33%;
    max-width: calc(33.33% - 80px);
    height: max-content;
    text-decoration: none;
}

@media only screen and (max-width: 1500px) {
    .deductions-div > a {
        flex: 50%;
        max-width: calc(50% - 40px);
        margin: 40px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .deductions-div > a {
        flex: 100%;
        max-width: calc(100% - 20px);
        margin: 20px 10px;
    }
}

a[class*='deduction'] {
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(50, 50, 80, 0.1);
    color: rgb(50, 50, 80);
    position: relative;
    background: rgba(255,255, 255, 1);
    display: block;
    backdrop-filter: blur(20px);
    opacity: 0;
}

a[class*='deduction'] .title {
    padding: 20px;
    padding-top: 40px;
    font-size: 30px;
    font-family: GoogleSans;
    font-weight: bold;
    border-top-right-radius: 5px;
}

a[class*='deduction'] .info-1 {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
}

a[class*='deduction'] .info-1 span {
    font-size: 14px;
    margin-left: 5px;
    border-radius: 10px;
}

a[class*='deduction'] .info-1 i {
    margin-right: 5px;
}

a[class*='deduction'] .short-description {
    padding: 20px;
    line-height: 30px;
}

a[class*='deduction'] .info-2 {
    padding: 10px 20px;
    padding-bottom: 40px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
}

a[class*='deduction'] .info-2 i {
    margin-right: 5px;
    transform: translate(0, 5px);
}

a[class*='deduction'] .tag {
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 14px;
    margin-left: 5px;
    box-shadow: 0 0 4px rgba(50, 50, 80, 0.2);
    border-bottom: 3px solid rgb(50, 50, 80);
}

a[class*='deduction'] .header {
    min-width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    background: white;
    color: rgb(50, 50, 80);
    padding: 3px 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

a[class*='deduction'] .header span:nth-last-child(2) {
    font-size: 25px;
    font-family: GoogleSans;
}

/* .fresh-deduction {
    color: rgb(50, 50, 80);
}

.fresh-deduction .tag {
    border-bottom: 3px solid rgb(50, 50, 80);
}

.fresh-deduction .header {
    color: rgb(50, 50, 80);
}

a.updated-deduction {
    color: rgb(50, 80, 80);
}

a.updated-deduction .tag {
    border-bottom: 3px solid rgb(50, 80, 80);
}

a.updated-deduction .header {
    color: rgb(50, 80, 80);
} */